name: Compile Verification
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
    build:
        runs-on: ubuntu-latest
        container: nordicplayground/nrfconnect-sdk:main
        steps:
        - name: Checkout repository
          uses: actions/checkout
          with:
            submodules: recursive
        - name: Initialize Workspace
          working-directory: /workdir/project
          run: |
             west init -m https://github.com/nrfconnect/sdk-nrf/
             west update --narrow -o=--depth=1
        - name: Build
          run:
             west build $GITHUB_WORKSPACE --board nrf52833dk_nrf52833
