name: Compile Verification
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
    build:
        runs-on: ubuntu-latest
        container: nordicplayground/nrfconnect-sdk:main
        steps:
        - name: Pull project
          run: |
             cd workdir/project
             git clone https://github.com/vChavezB/dpp_qspy_zephyr --recurse-submodules  
             west init -m https://github.com/nrfconnect/sdk-nrf/
             west update --narrow -o=--depth=1
             west build ../dpp_qspy_zephyr --board nrf52833dk_nrf52833
        - name: Upload binary
          uses: actions/upload-artifact@v3
          with:
            name: dpp-binary
            path: ~/build/
