name: Compile Verification
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
    build:
        runs-on: ubuntu-latest
        container: nordicplayground/nrfconnect-sdk:main
        steps:
        - name: Checkout repository
          uses: actions/checkout@v2
          with:
            submodules: 'true'
        - name: Pull project
          working-directory: /workdir/project
          run: |
             cd /workdir/project
             west init -m https://github.com/nrfconnect/sdk-nrf/
             west update --narrow -o=--depth=1
             west build $GITHUB_WORKSPACE --board nrf52833dk_nrf52833
